body {
  color: #eee;
  background: #181a1b;
}

body a {
  color: #809fff;
}

#background {
    background-color: #2A2D2F;
}

#home {
  color: white;
}

body:hover {
    background-color: #181a1b;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
