p { 
	font-family: 'Lato', sans-serif;
}

body {
    padding:0;
    margin:0;
}

html {
    padding:0;
    margin:0;
}

#page-top {
	position:fixed;
	top: 0;
	height: 248px;
	width: 100%
}

#main {
	background: #181a1b;
	margin-top: 14%;
	margin-bottom: 1;
	margin-right: 10px;
	float: below;
}

#game {
	margin-top: 170px;
	position: absolute;
	transform: translate(0, -50%);
	margin-left: 40%;

}

#game-image {
	border-radius: 7%;
}

#game-link {
	font-family: Lato;
	text-decoration: none;
	color: white;
	float: right;
	margin-right: -230px;
	margin-top: -190px;
}	

#game-link:hover {
	text-decoration: underline;

}

#creator {
	margin-top: -127px;
	margin-right: -145px;
	float: right;
}

.youtube-squares {
	position: fixed;	
	margin: 30px;
}

.title {
	text-align: center;
	font-family: Roboto;
	font-size: 40px;
	
}

.header-buttons {
	background-color: inherit;
	border: none;
	color: white;
	padding: 0.925% 1.3%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	position: absolute;
	top: 5%;
	right: 1%;
	border-radius: 8px;
	cursor: pointer;
}

.header-buttons:hover {
	background-color: #3A3F42;
}

.seperator {
	height: 186px;
	width: 2px;
	background: #fff;
	float: right;
	margin-left: 40px;
	margin-top: -19px;
}

.download {
	background: #303435;
	margin-right: -141px;
	padding: 17px;
	margin-top: 78px;
}

#windows-icon {
	height: 23px;
	width: 23px;
	position: absolute;
	margin-top: -180px;
	margin-left: 459px;
	
}

.filter-white{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(199deg) brightness(107%) contrast(103%);
}
